ASQLP/Main.aux
ASQLP/Main.log
ASQLP/Main.out
ASQLP/Main.synctex.gz
ASQLP/Main.toc
ASQLP/chapter1.aux
.aux
.log
.out
.toc
.gz
.pygtex
.pygstyle
ASQLP/_minted-Main/6C5E2486A44D47E183399383CBB265C395F9EDFE59174E49F8B4B4BDD9569325.pygtex
_minted-Main
ASQLP/_minted-Main/6740ABE9AA816C82B1DDCD3ECD9F550495F9EDFE59174E49F8B4B4BDD9569325.pygtex
ASQLP/_minted-Main/colorful.pygstyle
.listing
ASQLP/Main.listing
ASQLP/_minted-Main/0C0A88651E50DB86AB35F1D4FB191A2A95F9EDFE59174E49F8B4B4BDD9569325.pygtex
ASQLP/chapter1.log
ASQLP/preamble.log
BSQLP/Main.aux
BSQLP/Main.fdb_latexmk
BSQLP/Main.fls
BSQLP/Main.log
BSQLP/chapter1.aux
BSQLP/chapter7.aux
BSQLP/chapter8.aux
BSQLP/Main.out
BSQLP/Main.synctex.gz
BSQLP/Main.toc
BSQLP/chapter8.log
